.form {
    width: 500px;
    padding: 20px 10px;
    margin: 20px auto;
    background-color:rgb(238, 238, 219);
}
.formItem {
    display: flex;
    height: 40px;
    margin-bottom: 5px;
}
.formItem label {
    line-height: 40px;
    margin-right: 5px;
}
.formItem input {
    flex: auto;
}
.formBtn {
    text-align: center;
    margin-top: 20px;
}
.btnn {
    width: 80px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    background-color:rgb(161, 130, 84);
}
.btnn:hover {
    color:rgb(235, 89, 11);
    cursor: pointer;
}
.btnn:active {
    background-color:rgb(238, 145, 5);
}
