.clock {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(238, 238, 219);
}

.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
